*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
bin/
gen/
out/
build/
local.properties
proguard/
.navigation/
captures/
*.iml
.idea/